body{
    padding: 20px;
    /*background-color: aqua;*/
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}
h1, h3, h6{
    color:red;
    border : dashed green 2px
}

h2{
    color:blue;
    border : solid red 2px
}

p span{
    background-color: aqua;
}

.maClass1{
    background-color: aquamarine;
    font-style: italic;
    border-style: solid;
    border-color: brown;
    border-radius: 3%;
    text-align: justify;
}

.maClass2{
    background-color: chartreuse;
    font-style: italic;
    border-style: dashed;
    border-color: brown;
    border-radius: 3%;
}

#id1{
    background-color: blanchedalmond;
}

.classid1{
    font-style: italic;
    color: deepskyblue;
}

.classid2{
 border-style: dotted ; 
}

.marginpading{
    border: solid red 2px;
    padding-top: 15px;
    padding-left: 20px; 
    padding-bottom: 10px; 
    margin-bottom: 20px;
   }

a:link{
    color:red;
}

a:hover{
    color:blue;
}
a:visited{
    color:green;
}
a:active{
    color:yellowgreen;
}